@font-face {
  font-family: "ms_sans_serif";
  src: URL("MS_Sans.ttf") format("truetype");
}
body {
  font-family: "ms_sans_serif";
  background-color: rgb(0, 128, 128);
  overflow: hidden;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
